input[name="name"], input[name="date"], input[name="year"], input[name="gift"]{
    border : 0;
}
/* SECTION APP */

#app{
    position : relative;
    height: 100vh;
}
.container-fluid{
    padding : 0;
}

/* CREATION SCREEN */

#name-input, #date-input, #year-input, #gift-input{
    border : 1px solid rgb(136, 136, 136);
    border-radius : 0.6rem;
    padding: 1rem;
    padding-top : 0.3rem;
    padding-bottom : 0.3rem;
    background-color : #fff
}



#create-friend{
    position : absolute;
    bottom : -34vh;
    background-color : #fff;
    border-radius : 0.5rem;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.30); 
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.30);
    


}

#trigger-creation{
    position : absolute;
    bottom: 0;
    background-color: #42BDE3;
    height : 4rem;
    color : #fff;
    cursor : pointer;
}

#trigger-creation:hover, #create-friend{
    bottom:0;
}


/* MAIN SCREEN */
p{
    margin : 0;
}
#search{
    border : 1px solid rgb(204, 204, 204);
    border-radius : 1rem;
    padding: 1rem;
    padding-top : 0.3rem;
    padding-bottom : 0.3rem;
    background-color : rgb(243, 243, 243);
    transition:0.3s
}

#search:focus{
    background-color:#fff;
    transition: 0.3s
}

.slideCreate-enter-active, .slideCreate-leave-active {
    transition : 0.3s;
    opacity : 1;
}
.slideCreate-enter, .slideCreate-leave-to {
    transform: translateY(34vh);
    transition : 0.4s;
    opacity : 0;
}

.friends-birth{
    font-size : 0.8rem;
}
.friends-name{
    font-size : 1.2rem;
}
#trash{
    z-index : 10;
}

#friend{
    border-top : 1px solid rgb(153, 153, 153)
}

#empty-list-msg > h2{
    color: rgb(136, 136, 136);
}
#empty-list-msg > i{
    color: rgb(136, 136, 136);
    font-size : 4rem;
}

/* Placeholder class */
#supposed-to-be-an-img{
    background-color : grey;
    border-radius: 0.7rem;
    width: 100%;
    height : 100%
}

/* One friend screen */
#oneFriend{
    position : absolute;
    right:0;
    background-color : #fff;
    height: 100vh;
    width: 100vw;
    z-index:11;
}

.slideOne-enter-active, .slideOne-leave-active {
    transition : 0.3s;
    opacity: 1;
}
.slideOne-enter, .slideOne-leave-to {
    transform: translateX(100vw);
    transition : 0.3s;
    opacity : 0;
}
.slideGift-enter-active, .slideGift-leave-active {
    transition : 0.3s;
    opacity: 1;
}
.slideGift-enter, .slideGift-leave-to {
    transform: translateY(34vh);
    transition : 0.3s;
    opacity : 0;
}

.img-wrapper{
    height : 10rem;
    width : 10rem;
    background-image: url('assets/img/random.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 6rem;
}

#top-part{
    background-color: #42BDE3;
    height : 33vh;
}
#top-part > h2{
    color: #fff;
}

#create-gift{
    z-index : 999;
    position : absolute;
    bottom : 0vh;
    background-color : #fff;
    border-radius : 0.5rem;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.30); 
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.30);
}